body {
    margin: 15px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.filter-item {
    padding: 3px;
}

.search-row {
    padding: 3px;
}

.results-row {
    margin-top: 0px;
}

.results-table {
  max-height: 325px;
  height: 325px;
  overflow-y: auto;
  overflow-x: visible;
  background-color: #FaFaFF;
}

.selected-table {
  max-height: 325px;
  height: 325px;
  overflow-y: auto;
  overflow-x: visible;
  background-color: #FaFaFF;
}

.noneMatching {
  text-align: center;
  font-size: 1.75em;
  background-color: #FaFaFF;
  height: 325px;
  vertical-align: middle;
  line-height: 325px;
}

h1.searchWord {
  text-align: left;
}

#search_button {
    margin: 5px 0px 5px 0px;
}

#bottom-buttons {
    float: right;
    margin: 10px 0px 5px 0px;
}

.course-list-text {
    padding: 0px 0px 0px 0px;
    font-size: .84em;
}

.course-list-text-name {
    padding: 0px 0px 0px 5px;
    font-size: .84em;
}

.course-list-text-time {
  padding: 0px 0px 0px 15px;
  font-size: .84em;
}

.course-list-row {
    margin: 0px;
}

.copy-entry {
	display: inline-block;
    vertical-align: middle;
    float: none;

	text-align: center;
}

.copy-boxes {
  vertical-align: text-top;
}

.top-buffer { margin-top:12px; }

.container-center {
    display: flex;
    align-items: center;
}
